.board {
  &__chart1{
    width: 370px;
    background-color: white;
  }
}

.rates {
  background-color: white;
  h4 {
    font-size: 1.1rem;
  }
  .col-3, .col-4{
    font-size: 0.8rem;
  }
}

#longest-streak {
  color: rgb(149, 38, 246);
}
