@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap');

@import "./bootstrap/scss/bootstrap";
* {
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-image: url(../images/background2.jpg);
//   background: #232526; /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to bottom right, #000000, rgb(128, 0, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}

.cover {
  min-height: 100vh;
}

/**************** NAV BAR STYLING ************************/
.custom-nav {
  &-bg {
    background: linear-gradient(to left, #0d002da6, #000000a0);
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.7rem;
}
/**************** CUSTOM FONTS ************************/
.raleway {
  font-family: 'Raleway', sans-serif;
}
.tw{
  color: white;
}
/**************** Profile ************************/
@import "./dashboard";

/*************** CUSTOM SWEET ALERT ***************/

.navbar-nav.nav-pills {
  .nav-link.active {
    background-color: #c606dbbc;
    box-shadow: 0px 0px 10px #c606db;
  }
}

/**************** Button Config *******************/
.view-btn {
  background-color: rgb(191, 0, 191);
  border-color: rgb(191, 0, 191);
}

/**************** animations *******************/
.slider {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateY(0%); }
}
