@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap');

@import "./bootstrap/scss/bootstrap";
* {
  font-family: 'Poppins', sans-serif;
}
body {
  background: linear-gradient(to bottom left, #24243E, #3e2370);
  background-size: cover;
  background-repeat: no-repeat;
}

.cover {
  min-height: 100vh;
}

/**************** NAV BAR STYLING ************************/
.custom-nav {
  &-bg {
    background: linear-gradient(to left, #381a7f, #000000);
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.7rem;
}
/**************** CUSTOM FONTS ************************/
.raleway {
  font-family: 'Raleway', sans-serif;
}
.tw{
  color: white;
}
/**************** Profile ************************/
@import "./dashboard";

/*************** CUSTOM SWEET ALERT ***************/

.navbar-nav.nav-pills {
  .nav-link.active {
    background-color: #09af00;
  }
}

/**************** Charts Config *******************/
