<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chartjs CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <!-- sweet alert cdn links -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <!-- Bootstrap Dependencies -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <!-- scripts -->
  <script defer src="{{ url_for('static', filename='js/general.js') }}"></script>
  <script defer src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <title>{{name}}'s Dashboard</title>
</head>
  <body>
    <nav class="navbar custom-nav-bg navbar-expand-lg border-light border-bottom" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">
          <img src="{{ url_for('static', filename='images/gitlogonav.svg') }}" alt="Bootstrap" width="45" height="45">
          GitCraft
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active custom-nav-toggle" aria-current="page" href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-toggle" href="{{ url_for('temps') }}">Templates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-toggle" href="{{ url_for('settings') }}">Settings</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                Profile
              </a>
              <!-- <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Refresh</a></li>
              </ul> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title text-primary" id="offcanvasRightLabel">{{ name }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column align-items-center overflow-x-hidden">
        <img class="rounded-circle w-75" src="{{ avatar }}" id="offcanvas-avatar"/>
        <div class="container-fluid d-flex justify-content-start mt-5 mb-1 ms-5">
          <span class="d-inline-block border-2 border-end border-primary w-25">Login</span>
          <span class="d-inline-block ps-2">{{ login }}</span>
        </div> 
        <div class="container-fluid d-flex justify-content-start mb-1 ms-5">
          <span class="d-inline-block border-2 border-end border-primary w-25 ">Plan</span>
          <span class="d-inline-block ps-2">{{ plan }}</span>
        </div>
        <div class="container-fluid d-flex justify-content-start mb-5 ms-5">
          <span class="d-inline-block border-2 border-end border-primary w-25">Token</span>
          <span class="d-inline-block ps-2" id="token-display" data-tokenshow="{{ token }}">***********</span>
        </div>

        <a class="btn btn-primary d-block w-75" href="#" id="logout-btn" data-logout="{{ url_for('db.db_logout') }}">Logout</a>
      </div>
    </div>
    <div class="board d-flex align-items-center container mt-5 gap-4">
      <div class="board__chart1 rounded-5 p-3" data-repospace="{{ repo_space }}" data-availablespace="{{ space_available }}">
        <canvas class="board__chart1-pie"></canvas>
      </div>
      <div class=" container d-flex flex-column w-100 row-gap-4">
        <div class="card text-center rates rounded-5">
          <div class="card-body">
            <h5 class="card-title">Rate Limits</h5>
            <p class="card-text mb-2 bg-primary-subtle rounded-4">Keep Track of API rate limits to avoid making too many calls</p>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h4 class="mt-2">Rest API</h4>
                  <div class="row justify-content-center text-start bg-primary-subtle">
                    <div class="col-4">limit</div>
                    <div class="col-3">{{ rates.rest.limit }}</div>
                    <div class="col-3 ps-1 border-2 border-start border-dark-subtle">calls</div>
                  </div>
                  <div class="row justify-content-center text-start">
                    <div class="col-4">used</div>
                    <div class="col-3">{{ rates.rest.used }}</div>
                    <div class="col-3 ps-1 border-2 border-start border-dark-subtle">calls</div>
                  </div>
                  <div class="row justify-content-center text-start bg-primary-subtle">
                    <div class="col-4">remaining</div>
                    <div class="col-3">{{ rates.rest.remaining }}</div>
                    <div class="col-3 ps-1 border-2 border-start border-dark-subtle">calls</div>
                  </div>
                </div>
                <div class="col">
                  <h4 class="mt-2">GraphQL API</h4>
                  <div class="row justify-content-center text-start bg-primary-subtle">
                    <div class="col-4">limit</div>
                    <div class="col-3">{{ rates.graphql.limit }}</div>
                    <div class="col-3 ps-1 border-2 border-start border-dark-subtle">calls</div>
                  </div>
                  <div class="row justify-content-center text-start">
                    <div class="col-4">used</div>
                    <div class="col-3">{{ rates.graphql.used }}</div>
                    <div class="col-3 ps-1 border-2 border-start border-dark-subtle">calls</div>
                  </div>
                  <div class="row justify-content-center text-start bg-primary-subtle">
                    <div class="col-4">remaining</div>
                    <div class="col-3">{{ rates.graphql.remaining }}</div>
                    <div class="col-3 ps-1 border-2 border-start border-dark-subtle">calls</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-body-secondary d-flex justify-content-around">
            <span class="text-primary">rest reset: {{ rates.rest.reset.strftime('%H:%M') }}</span>
            <span class="text-primary">graphql reset: {{ rates.graphql.reset.strftime('%H:%M') }}</span>
          </div>
        </div>
        <div class="card rounded-5">
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title text-center">GitHub Stats</h5>
            <p class="card-text text-center">Monitor Your GitHub Stats</p>
            <div class="hstack justify-content-around">
              <div class="d-flex flex-column align-items-center">
                <h3>{{ streak.total }}</h3>
                <img src="{{ url_for('static', filename='images/gitcommit.svg') }}"  style="width: 50px;" alt="commits">
                <h5> commits </h5>
              </div>
              <div class="d-flex flex-column align-items-center ms-5">
                <h1 id="longest-streak">{{ streak.longest }} <span class="h5">day/s</span></h1>
                <h5>Longest Streak</h5>
              </div>
              <div class="d-flex flex-column align-items-center">
                <h2 class="m-0 p-0">{{ streak.current }} <span class="h5">day/s</span></h2>
                <img src="{{ url_for('static', filename='images/icons8-git.svg') }}"  style="width: 50px;" alt="commits">
                <h5>Current Streak</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
