<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>default template</title>
  <!-- Bootstrap -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha256-MBffSnbbXwHCuZtgPYiwMQbfE7z+GOZ7fBPCNB06Z98=" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
  <!-- Flickity Library -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</head>
<body>
  <div class="cover d-flex flex-column">
    <nav class="navbar py-3 d-flex justify-content-between px-5">
      <h5 class="name">{{ name }}</h5>
      <div class="menu-button"></div>
    </nav>
    <div class="content d-flex flex-grow-1 justify-content-between vw-100">
      <div class="info ps-5 d-flex flex-column">
        <h2 class="title mt-5">Hi, my name is {{ name }}</h2>
        <h3 class="bio-title mt-4">About Me</h3>
        <p class="bio">{{ bio }}</p>
        <h3 class="mt-2">Tools and Frameworks</h3>
        <div class="slide-in-left d-flex flex-wrap column-gap-2 row-gap-1" style="width: 80%;">
          {% for ti in toolimgs %}
            <img src="{{ ti }}" class="tools d-inline-block"></img>
          {% endfor %}
        </div>
        <h3 class="mt-3">Languages</h3>
        <div class="slide-in-left d-flex flex-wrap column-gap-2 row-gap-1" style="width: 80%;">
          {% for li in langimgs %}
            <img src="{{ li }}" class="tools d-inline-block"></img>
          {% endfor %}
        </div>
        <button class="btn btn-dark mt-5 bg-black glow-on-hover" type="button" style="width: 120px;">contact me</button>
      </div>
      <img class="profile" src="{{ avatar }}" alt="">
      <div class="ps-5 badges d-flex align-items-center">
        <div class="commits d-flex column-gap-2">
          <img src="https://img.icons8.com/glyph-neue/64/github.png" alt="github"/>
          <p class="text-black">{{ streak.total }} commits</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
